.about-founders,
.about-company-values {
  padding: 0 1.5rem;
}

@include mq(37.5em) {
  .about-founders,
  .about-company-values {
    padding: 0 2.5rem;
  }
}

@include mq(62.5em) {
  .about-founders,
  .about-company-values {
    padding: 0 5rem;
  }
}
