//image, had to use inspect to find this class
.gift-card
  ul
  li
  a
  .attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
  width: 100%;
  height: 12rem;
  opacity: 50%;
  object-fit: cover;

}



.giftcard-section {
  position: relative;
}

.giftcard-overlay {
  font-size: 1rem;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 102;
  width: 100%;
  height: 100%;
}

.giftcard-overlay .giftcard-title {
  margin: 0;
}

//
.giftcard-text {
  text-align: left;
}

.page-id-17 main .giftcard-section .gift-card ul li a h3 {
  display: none;
}

//Removing the listed item bullet point in giftcard 
.product.type-product.post-59.status-publish.first.instock.product_cat-gift-card.has-post-thumbnail.taxable.shipping-taxable.purchasable.product-type-simple {
  list-style: none;
}

body .site .full-bleed:last-child > .gift-card{
grid-column: span 3;
align-items: stretch;
}



@media (min-width: 62.5em) {
  //trying to expand the photo

  .gift-card
    ul
    li
    a
    .attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    width: 100%;
    object-fit: cover;
  }
}
