.site-main {
  padding: 1rem;
  flex: 1 1 auto;
}

.woocommerce-tabs ul.tabs {
  display: none;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.quantity,
.single_add_to_cart_button {
  width: 12rem;
}

.qty {
  width: 100%;
}

.product_meta {
  display: none;
}


 

