button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.button.primary {
	border: $border__border;
	font-weight: 500;
	border-radius: $border__radius;
	background: $color__background-button;
	color: $brand__dark;
	line-height: 1;
	padding: 0.75rem 1rem;

	&:hover {
		border-color: $color__border-button-hover;
		background: $color__background-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		box-shadow: $border__shadow;
	}
}

.button.secondary {
	background: transparent;
	border-image: $color__background-button;
}
