blockquote {
  border: $brand__accent50 0.125rem solid;
  border-left: 0.25rem solid $brand__accent;
  background-color: $color__background-body;
  border-radius: $border__radius;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;

  p {
    margin-top: 0;
  }
}
