quoteblock {
    border: $brand__accent50 0.125rem solid;
    border-left: 0.25rem solid $brand__accent;
    background-color: $color__background-body;
    border-radius: $border__radius;
    box-shadow: $border__shadow;
}