$border__radius: 0.3125rem;

$border__border: 0.125rem solid $color__border-button;
$border__shadow: 0 0 0 0.0625rem $color__border-button-focus;
$border__border-button-secondary: 0.125rem solid $color__background-button;
